.taglist-wrapper {
  position:absolute;
  top:120px;
  left:0;
  bottom:80px;
  width:100%;;
  overflow-y:scroll;
  margin-bottom:30px;
  .taglist {
    width:1200px;
    margin:0 auto;
    overflow:hidden;
    .tag-item {
      position:relative;
      float:left;
      width:380px;
      height:200px;
      margin-right:30px;
      margin-bottom:30px;
      cursor:pointer;
      &:nth-of-type(3n + 3) {
        margin-right:0;
      }
      img {
        width:100%;
        height:100%;
      }
      .tag-mask {
        display:none;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:rgba(0, 0, 0, 0.5);
        .tag-name {
          position:absolute;
          top:50%;
          left:50%;
          padding:10px 20px;
          background-color:#fff;
          color:#333;
          transform:translate(-50%, -50%);
        }
      }
      &:hover .tag-mask {
        display:block;
      }
    }
  }
}
